@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
}

.score-cell {
  font-size: 22px;
}

.score-cell-xl {
  font-size: 26px;
}
.player-name-cell {
  font-size: 17px;
}

.text-xxs {
  font-size: 12px;
}

input:focus {
  outline: none;
}

.fade-in-animation {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
